<div class="container d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <h1>My tasks</h1>
        </div>
        <div class="row">
            <ul class="list-group">
                <%@tasks.each do |task|%>
                    <li  class="list-group-item">
                    <%if task.completed%>
                        <i class="fa-regular fa-square-check">!</i>
                    <%else%>
                        <i class="fa-regular fa-square">x</i>
                    <%end%>
                    <%=link_to task.title, task_path(task)%> 
                    <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
                    </li>
                <%end%>
            </ul>
        </div>
        <div class="row btn">
            <%=link_to "Add a new task", new_task_path%>
        </div>
    </div>
</div>